<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Blog Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% block navbar %}

    {% endblock navbar %}
    
    {% block index %}
    
    {% endblock index%}

    {% block login %}

    {% endblock login %}

    {% block register %}

    {% endblock register %}

    {% block blogdetails %}

    {% endblock blogdetails %}

    {% block allblogs %}
    
    {% endblock allblogs %}
    <footer class="text-center p-4 text-blacl mt-6">
        Created by <a href="https://github.com/Abhay-Kanwasi">Abhay Kanwasi</a>
    </footer>
</body>
</html>